@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif !important;
}

@import "tailwindcss";

@layer components {
  .left-form-box {
    @apply flex flex-8/12 flex-col h-full p-4 border border-white rounded-lg box-border;
  }
  .right-list-box {
    @apply flex flex-4/12 flex-col h-full p-4 border border-white rounded-lg box-border;
  }
}
