.recepit-pop-overlay {
    position : fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.recepit-popup{
    background-color:white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 90vh;
    overflow-y: auto;
}

.cart_items-scrollable{
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 16px;
}

.recepit-popup .button{
    padding: 8px 16px;
    font-size: 14px;;
}